apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- helm-release.yaml
configMapGenerator:
- name: kube-prometheus-values
  files:
  - values.yaml
configurations:
- kustomizeconfig.yaml