---
fullnameOverride: kps
server:
  resources:
    requests:
      memory: 400Mi
      cpu: 25m
    limits:
      memory: 2000Mi
prometheusConfigReloader:
  resources:
    requests:
      cpu: 100m
      memory: 50Mi
    limits:
      cpu: 200m
      memory: 50Mi
prometheusOperator:
  admissionWebhooks:
    certManager:
      enabled: true
alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: syno-ext4-reclaim
          resources:
            requests:
              storage: 5Gi
  ingress:
    enabled: false
  config: {}
nodeExporter:
  enabled: true
kube-state-metrics:
  fullnameOverride: kube-state-metrics
prometheus-node-exporter:
  fullnameOverride: node-exporter
grafana:
  enabled: false
kubelet:
  enabled: true
  serviceMonitor:
    metricRelabelings:
    - action: replace
      sourceLabels:
      - node
      targetLabel: instance
coreDns:
  enabled: true
kubeApiServer:
  enabled: true
kubeControllerManager:
  enabled: true
kubeScheduler:
  enabled: true
kubeProxy:
  enabled: true
kubeEtcd:
  enabled: false
kubeStateMetrics:
  enabled: true
prometheus:
  ingress:
    enabled: false
  prometheusSpec:
    replicas: 1
    replicaExternalLabelName: "replica"
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    retention: 10d
    enableAdminAPI: false
    walCompression: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: syno-ext4-reclaim
          resources:
            requests:
              storage: 20Gi
    securityContext:
      fsGroup: 65534
      runAsGroup: 65534
      runAsUser: 65534
      runAsNonRoot: true
    initContainers:
    - name: init-chown-data
      image: alpine:latest
      command: ["sh", "-c", "chown -R 65534:65534 /prometheus; /bin/chmod -R 777 /prometheus;"]
      securityContext:
        runAsGroup: 0
        runAsUser: 0
        runAsNonRoot: false
      volumeMounts:
      - name: prometheus-kps-prometheus-db
        mountPath: /prometheus
    additionalScrapeConfigs: {}
#    - job_name: node-exporter
#      honor_timestamps: true
#      static_configs:
#      - targets:
#        - "nas.${DOMAIN_NAME}:9100"
#    - job_name: "home-assistant"
#      scrape_interval: 60s
#      metrics_path: "/api/prometheus"
#      bearer_token: "${HOME_ASSISTANT_PROMETHEUS_TOKEN}"
#      scheme: http
#      static_configs:
#      - targets:
#        - home-assistant.home.svc:8123