---
prometheus:
  serviceAccount: kps-prometheus
  namespace: monitoring
  podMonitor:
    enabled: true
  prometheusRule:
    enabled: true

speaker:
  tolerations:
  - effect: "NoExecute"
    operator: "Exists"
  - effect: "NoSchedule"
    operator: "Exists"
