apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: goldilocks
spec:
  interval: 5m
  chart:
    spec:
      chart: goldilocks
      version: 6.1.2
      sourceRef:
        kind: HelmRepository
        name: fairwinds
        namespace: flux-system
      interval: 3h
  install:
    remediation:
      retries: 3
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 3
      remediateLastFailure: true
      strategy: rollback
  valuesFrom:
  - kind: ConfigMap
    name: goldilocks-values
