extraArgs:
- --dns01-recursive-nameservers=1.1.1.1:53
- --dns01-recursive-nameservers-only
podDnsPolicy: "None"
podDnsConfig:
  nameservers:
  - "1.1.1.1"
  - "9.9.9.9"

resources:
  requests:
    cpu: 15m
    memory: 64M
  limits:
    cpu: 15m
    memory: 64M

cainjector:
  resources:
    requests:
      cpu: 15m
      memory: 204M
    limits:
      cpu: 15m
      memory: 204M

webhook:
  enabled: true
  resources:
    requests:
      cpu: 15m
      memory: 53M
    limits:
      cpu: 15m
      memory: 53M

prometheus:
  enabled: true
  servicemonitor:
    enabled: true
