---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster-config
  namespace: flux-system
spec:
  dependsOn:
  - name: flux-system
  interval: 10m
  path: clusters/olympus/config
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: olympus
  decryption:
    provider: sops
    secretRef:
      name: sops-age