---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: crds
  namespace: flux-system
spec:
  dependsOn:
  - name: cluster-config
  - name: flux-sources
  - name: flux-system
  interval: 10m
  path: clusters/olympus/crds
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: olympus