---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: flux-system
  namespace: flux-system
spec:
  dependsOn:
    - name: flux-sources
  interval: 10m0s
  path: manifests/install
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux
  patches:
    - patch: |-
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: not-important
        spec:
          template:
            spec:
              tolerations:
              - effect: NoExecute
                operator: Exists
              - effect: NoSchedule
                operator: Exists
      target:
        kind: Deployment