---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: flux-system
  namespace: flux-system
spec:
  dependsOn:
  - name: flux-sources
  interval: 10m
  path: manifests/install
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux
  patches:
  - target:
      kind: Deployment
      namespace: flux-system
    patch: |
      - op: add
        path: /spec/template/spec/tolerations
        value:
        - effect: NoExecute
          operator: Exists
        - effect: NoSchedule
          operator: Exists
      - op: add
        path: /spec/template/spec/affinity
        value:
          nodeAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 25
              preference:
                matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists
