---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: flux-system
  namespace: flux-system
spec:
  dependsOn:
    - name: flux-sources
  interval: 10m0s
  path: manifests/install
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux