---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: namespaces
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-config
    - name: flux-sources
    - name: flux-system
  interval: 10m0s
  path: clusters/olympus/manifests/namespaces
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: olympus