---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: flux-orchestration
  namespace: flux-system
spec:
  dependsOn:
  - name: cluster-config
  - name: flux-sources
  - name: flux-system
  - name: namespaces
  - name: crds
  interval: 10m
  path: clusters/olympus/flux/orchestration
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: olympus
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  postBuild:
    substituteFrom:
    - kind: ConfigMap
      name: cluster-settings
    - kind: Secret
      name: cluster-secrets
  patches:
  - patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
      kind: Kustomization
      metadata:
        name: not-used
        namespace: not-used
      spec:
        decryption:
          provider: sops
          secretRef:
            name: sops-age
        postBuild:
          substituteFrom:
            - kind: ConfigMap
              name: cluster-settings
            - kind: Secret
              name: cluster-secrets
    target:
      kind: Kustomization
      group: kustomize.toolkit.fluxcd.io
      version: v1beta2