---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: flux-sources
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/olympus/flux/sources
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: olympus